

.swiper-slide {
  padding: 4rem 1rem;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.swiper-slide:hover img {
  transform: scale(1.05);
}

.mitra-prev,
.mitra-next {
  color: var(--primary-color);
  font-size: 5rem;
}

.swiper-button-prev,
.swiper-button-next {
  top: 40%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  height: 400px;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}
.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--dark-color);
  transform: translateY(-2px);
}

.btn-outline {
  background-color: transparent;
  border: 2px solid white;
}

.btn-outline:hover {
  background-color: white;
  color: var(--primary-color);
}

