
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/images/hero/5.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 200px;
    padding: 4rem 1rem;
    }
    .hero-content {
    height: 200px;
    }
    .hero h2 {
    margin-top: 3rem;
    font-size: 2.8rem;
    margin-bottom: 1rem;
}
    @media (max-width: 425px) {
    .hero-content {
      height: 200px;
    }
    .hero h2 {
      font-size: 1.8rem;
    }
    .hero p {
      font-size: 1.1rem;
    }
}

/* Main Content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
